* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif, Courier, monospace, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.admin-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.admin-container {
  display: flex;
  flex: 1;
}

.admin-main {
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
}

.exam-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.exam-main {
  flex: 1;
  padding: 20px;
}

.no-copy {
  user-select: none; /* Ngăn việc chọn văn bản */
  cursor: not-allowed; /* Hiển thị con trỏ cấm */
}